@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

.slide {
  animation: slide 0.5s ease-in-out;
}

.slide-right {
  --slide-initial-pos: -5px;
}

.slide-left {
  --slide-initial-pos: 5px;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(var(--slide-initial-pos));
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
